/* HEADER */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

header .container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
}

header .navbar {
    padding: 0;
}

header .navbar h1 {
    font-size: 2em;
}



header .dropdown-toggle::after {
    display: none;
}


header .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: var(--primary);
}

header .navbar-brand:hover {
    color: var(--primary);
}


header .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

header .navbar-nav .nav-item.dropdown i {
    position: absolute;
    right: 1px;
    top: 19px;
    display: inline-block;
    content: "";
    color: var(--title-color);
}

header .navbar-nav .nav-item .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
}

header .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary);
}

header .navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: '';
    background: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
    transition: all .5s;
}

header .navbar-nav .nav-item .nav-link:hover::before {
    width: 20px;
}

header .navbar-nav .nav-item.active .nav-link {
    color: var(--primary);
}

header .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    border-radius: var(--card-curve);
    min-width: 11rem;
    padding: 1rem 0 .3rem;
    box-shadow: var(--card-box-shadow);
    background: var(--bg-color);
    border: 1px solid var(--border-color);
}

header .navbar-expand-lg .navbar-nav .dropdown-menu::before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 101;
}

header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    padding: 0 1.5rem 0.875rem;
    color: var(--title-color);
    transition: all .5s;
    position: relative;
}

header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover,
header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:focus{
    background: none;
    color: var(--primary);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: none;
  }

header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item::before{
    width: 20px;
    position: absolute;
    content: '';
    background: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
    transition: all .5s;
}
header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover::before{
    width: 20px;
}


header .search-right a span {
    color: var(--text-color);
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: var(--light-bg-color);
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--border-color);
}

header .navbar .DarkandLight input {
    display: none;
}

header .navbar .DarkandLight .mode-container {
    width: 24px;
    height: 24px;
    padding: 0px 1vw;
}


header .navbar .DarkandLight .mode-container .gg-moon {
    display: block;
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
    border-radius: 50%;
    font-style: italic;
}

header .navbar .DarkandLight .mode-container .gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}

header .navbar .DarkandLight .mode-container .gg-sun {
    display: none;
    width: 24px;
    color: var(--title-color);
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;

}

header .navbar .DarkandLight .mode-container .gg-sun::before {
    width: 24px;
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}

header .navbar .DarkandLight .mode-container .gg-sun::after {
    width: 24px;
    transform: rotate(45deg);
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;

}


.dark#myBody header .navbar .DarkandLight .mode-container .gg-sun {
    display: block;
}

.dark#myBody header .navbar .DarkandLight .mode-container .gg-moon {
    display: none
}



header button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

header button.navbar-toggler.collapsed .icon-close {
    display: none;
}

header button.navbar-toggler .icon-expand {
    display: none;
}

header button.navbar-toggler .icon-close {
    display: block;
}

header .navbar .DarkandLight {
    top: 12px;
}

header .search-right .pop-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    /* transition: opacity 0ms; */
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

header .search-right .popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}

header .search-right .popup form input {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: var(--text-color);
    height: 55px;
    padding: 15px 20px 12px;
    background: var(--bg-color);
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;


}

header .search-right .popup form input:focus {
    outline: none;
}

header .search-right .popup form button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    height: 55px;
    border: none;
    border-left-width: medium;
    border-left-style: none;
    border-left-color: currentcolor;
    background: var(--primary);
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    text-transform: none;
}

header .search-right .popup form button:hover {
    opacity: 0.8;
}

header .search-right .popup .close {
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.75;
    font-weight: 700;
    line-height: 1;
}

header .search-right .popup .close:hover {
    opacity: 1;
}

header .search-right .pop-overlay:target {
    visibility: visible;
    opacity: 1;
}



/* FEATURE */
.feature {
    background-color: var(--bg-color);
}

.feature .container {
    max-width: 1200px;
}

.feature__project,
.feature .accordion {
    padding: 0 20px;
    margin: 48px -15px 0;
    --bs-accordion-bg: none;
    border-color: rgb(193, 193, 193) !important;
}

.feature .accordion {
    display: none;
}

.feature .accordion-item .accordion-button{
    border-color: rgb(193, 193, 193) !important;
}



.feature .title h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.feature .title p {
    max-width: 750px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin: 1rem auto;
}



/*? screeen for min width>= 769px(this is a big screen) */
.feature .nav-tabs {
    width: 100%;
    border: none;
}

.feature .tab-pane {
    padding: 15px;
    margin: 20px 0;
}


.feature .nav-tabs .nav-item {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
}

.feature .nav-tabs .nav-item .nav-link {
    border: none;
    width: 100%;
    color: var(--title-color);
    background: var(--bg-color) !important;
    border-bottom: 3px solid rgb(193, 193, 193);
    padding: 15px
}

.feature .nav-tabs .nav-item .nav-link.active {
    color: var(--primary) !important;
    border-bottom-color: var(--primary) !important;
}


.feature .item__left,
.feature .item__right {
    padding: 0 10px;
}

.feature .project__item h3 {
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.feature .project__item p {
    color: var(--text-color);
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}

.feature .project__item button {
    margin-top: 16px;
}

.feature .project__item img {
    transition: 0.3s ease-in-out;
}

.feature .project__item img:hover {
    transform: translateY(-0.5rem);
}

.feature .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* CLIENTS */
.clients {
    background: linear-gradient(to right, var(--bg-color), rgba(255, 255, 255, 0.77)), url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 35px;
}

.clients .container {
    padding-right: 25px;
    padding-left: 25px;
    max-width: 1200px;
}

.clients .title {
    max-width: 746px;
}

.clients .title h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.clients .title p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.clients .clients__content {
    margin: 24px -15px 0;
}

.clients .clients__content>.pb-5 {
    padding: 0 15px;
}

.clients .item__bg {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 0px;
    padding: 2rem;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: var(--bg-color);
    border-radius: var(--card-curve);
}

.clients .item__bg .img-circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid var(--primary);
}

.clients .item__bg .img-circle img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.clients .item__bg .message {
    position: relative;
}

.clients .item__bg .message i {
    font-size: 30px;
    color: var(--title-color);
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0;
}

.clients .item__bg .message p {
    font-size: 18px;
    line-height: 26px;
    color: var(--title-color);
    margin-bottom: 0;
    font-weight: 400;
}

.clients .item__bg .message .name p {
    font-size: 13px;
    color: var(--text-color);
}


.clients .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}

.clients .owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: var(--bg-color);
    display: block;
    border: none;
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--primary);
}





/* BUILD BRAND */
.buildBrand {
    background: var(--bg-color);
}

.buildBrand .container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
}

.buildBrand .title {
    max-width: 750px;
}

.buildBrand .title h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.buildBrand .title p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}



/* FOOTER */

.footer__content {
    background: var(--light-bg-color);
}

footer .container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
}

footer .row.footer__top .col-lg-6 {
    padding-right: 15px;
    padding-left: 15px;
}

footer .row.child .col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
}

footer .row.child .col-md-4 h3 {
    font-size: 20px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 700;
}


footer .row.child .col-md-4 li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

footer .row.child .col-md-4 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    transition: all .5s;
}

footer .row.child .col-md-4 li a:hover{
    color: #dc4f72;
}

footer .row.footer__top .col-lg-6.right h3 {
    font-size: 20px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 700;
}

footer .footer__form {
    background-color: var(--bg-color);
    padding: 2em;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
}

footer .footer__form h4 {
    font-size: 18px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 500;
}

footer .footer__form .subscribe {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

footer .footer__form .subscribe input {
    background: var(--light-bg-color);
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: var(--title-color);
    font-weight: 600;
    border-radius: var(--card-curve);
}

footer .footer__form .subscribe button {
    text-align: center;
    background: var(--primary);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: var(--card-curve);
}

footer .footer__form p {
    line-height: 22px;
    color: var(--text-color);
    font-size: 16px;
}


footer .footer__bottom {
    border-top: 1px solid var(--border-color);
}


footer .footer__bottom p {
    line-height: 22px;
    color: var(--text-color);
    font-size: 16px;
}

footer .footer__bottom p>a {
    color: var(--title-color);
}

footer .footer__bottom p>a:hover {
    opacity: 0.8;
    color: var(--primary);
}

footer .footer__bottom .social li {
    display: inline-block;
    margin-right: 5px;
}

footer .footer__bottom .social li a {
    color: var(--title-color);
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s ease;
}

footer .footer__bottom .social li a:hover {
    color: var(--primary);
}


/* BACK TO TOP */
.backToTop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    background: var(--primary);
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    text-align: center;

}

.backToTop:hover {
    opacity: 1;
}

.backToTop span {
    line-height: 45px;
    color: #fff;
    font-size: 22px;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 0.7;
}




/** RESPONSIVE */

@media screen and (max-width:1190px) {

    /* FOOTER */
    footer .footer__form .subscribe button {
        width: 30%;
    }

}

@media screen and (max-width:992.98px) {

    /* FEATURE */
    /*? screeen for min width>= 769px(this is a big screen) */
    .feature .project__item h3 {
        font-size: 26px;
    }

}

@media screen and (max-width:991.98px) {

    /* HEADER */

    header {
        height: auto;
        padding: 10px 0;
    }

    header .navbar .DarkandLight {
        position: absolute;
        right: 66px;
        top: 20px;
    }

    header .navbar .navbar-toggler {
        line-height: 1;
        background-color: transparent;
        border-radius: 0.25rem;
        border: 0 none;
        font-size: 24px;
        padding: 0;
    }

    header .navbar .navbar-toggler:focus {
        box-shadow: none;
        padding: 0;
        outline: 1px dotted;
    }

    header .navbar .navbar-toggler-icon.fa {
        color: #fff;
        line-height: 34px;
        background-color: var(--primary);
        border-radius: 5px;
        background-image: none;
    }

    header .navbar .navbar-nav {
        padding: 20px 0;
    }

    header .navbar-nav .nav-item {
        padding: 0;
    }

    header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 8px 0;
        text-align: center;
    }

    header .navbar-nav .nav-item .nav-link::before {
        bottom: 0;
    }

    header .navbar .DarkandLight {
        /* right: 50px; */
        top: 8px;
    }

    header .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0px);
        text-align: center;
    }

    header .search-right {
        text-align: center;
        margin-bottom: 10px;
        display: block;
    }

    header .HeaderButton {
        text-align: center;
    }



}

@media screen and (max-width:990px) {

    /* FOOTER */
    .footer__bottom {
        display: block !important;
    }
}







/* FOOTER */
.footer__bottom .FooterSocial {
    text-align: center;
}



@media screen and (max-width:800px) {

    /* FEATURE */
    .feature .title h3,
    .clients .title h3,
    .buildBrand .title h3 {
        font-size: 40px;
        line-height: 50px;
    }


}

/*? screeen for max width < 769px(this is a small screen) */
@media screen and (max-width:768.98px) {

    /* FEATURE */
    .feature__project {
        display: none;
    }

    .feature .accordion {
        display: block;
        padding: 0;
        margin: 48px 6px 0;
        border-width: 1px 1px 1px;
        border-style: solid;
        border-color: var(--border-color-light);
        border-radius: 0;
        background-color: var(--bg-color);

    }

    .feature .accordion-item {
        border: none;
        color: var(--bg-color);
    }

    .feature .accordion-item .accordion-button {
        border-bottom: 1px solid var(--border-color-light);
        color: var(--title-color);
    }

    .feature .accordion-item:last-of-type .accordion-button.collapsed {
        border-radius: 0;
    }


    .feature .accordion-button {
        font-size: 20px;
        font-weight: 600;
        padding: 10px 15px;
    }

    .feature .accordion-button::after {
        content: "";
        margin-top: 3px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid #c1c1c1;
        margin-left: auto;
        width: 0;
        height: 0;
        background: none;
        transition: none;
    }

    .feature .accordion-button:focus {
        outline: 0;
        box-shadow: none
    }

    .feature .accordion-item .project__item {
        padding: 35px 15px;
    }

    .feature .accordion-item .project__item h3 {
        margin-bottom: 14px;
    }

    .feature .accordion-item .item__left,
    .feature .accordion-item .item__right {
        padding: 0 13px;
    }


    .feature .accordion-button:not(.collapsed) {
        background-color: transparent;
        color: #dc4f72;
        border-bottom: 3px solid #dc4f72 !important;
    }

    .feature .accordion-button:not(.collapsed)::after {
        border-top-color: #9b9797;
    }

}

@media screen and (max-width:767.98px) {

    /* FEATURE */
    .feature .accordion-item .item__left,
    .feature .accordion-item .item__right {
        padding: 0 18px;
    }

    /* BUILD BRAND */
    .buildBrand .btn {
        line-height: 44px;
        padding: 0px 20px;
    }

    /* HEADER */
    header .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width:766px) {

    /* FEATURE */
    .feature .btn {
        line-height: 44px;
        padding: 0px 20px;
    }

    /* HEADER */
    header .container .btn {
        line-height: 44px;
        padding: 0px 20px;
    }
}

@media screen and (max-width:667px) {

    /* CLIENT */
    .clients .title h3,
    .buildBrand .title h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .clients .item__bg {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        text-align: center;
        padding: 3rem;
    }

    .clients .item__bg .img-circle {
        margin: 0 auto;
    }

    .clients .item__bg .message i {
        left: 0;
    }
}

@media screen and (max-width:666px) {

    /* FEATURE */
    .feature .accordion-item .item__left,
    .feature .accordion-item .item__right {
        padding: 0 18px;
    }

    .feature .title h3 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width:640px){
    /* FOOTER */
    footer .footer__form .subscribe button{
        padding: 12px 10px;
    }
}


@media screen and (min-width:576px) {

    /* BUILD BRAND */
    .buildBrand .container {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width:575.98px) {

    /* BUILD BRAND */
    .buildBrand .container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    /* HEADER */
    header .container {
        padding-right: 15px;
        padding-left: 15px;
    }




}

@media screen and (max-width:568.98px) {
    header .navbar .DarkandLight {
        position: absolute;
        right: 46px;
    }
}

@media screen and (max-width:480px) {

    /* FEATURE */
    .feature .project__item h3 {
        font-size: 24px;
        line-height: 30px;
    }

    /* CLIENTS */
    .clients .item__bg {
        grid-gap: 10px;
        padding: 2rem 1rem;
    }
}

@media screen and (max-width:420px){
    /* FOOTER */
    footer .footer__form .subscribe input{
        padding: 12px 8px;
    }
    
}

@media screen and (max-width:209.98px) {

    .feature .accordion-item .item__left,
    .feature .accordion-item .item__right {
        padding: 0 15px;
    }
}

@media screen and (max-width:203.98px) {

    .feature .accordion-item .item__left,
    .feature .accordion-item .item__right {
        padding: 0 10px;
    }
}