/* section aubouUS star */
.aboutUs{
    background-color: var(--light-bg-color);
}
.aboutUs .book-info h3 {
    font-size: 36px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700; 
}
.aboutUs .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: var(--text-color);
    line-height: 24.4px; 
}
.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px; 
}
.btn-primary {
    color: #fff !important;
    background-color: #dc4f72 !important;
    border-color: #dc4f72 !important; 
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #d62f58 !important;
    border-color: #cf2952 !important; 
}
.img-fluid {
    max-width: 100%;
    height: auto; 
}

img.img-curve {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}
  
img.img-curve:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out ; 
}
  
img.shadow {
    box-shadow: var(--card-hover-box-shadow); 
}
@media (min-width: 768px) {
.aboutUs .pr-md-5, .px-md-5 {
    padding-right: 3rem !important;
}
.aboutUs .mb-md-5, .my-md-5 {
    margin-bottom: 3rem !important;
}
}
@media (max-width: 768px) {
.aboutUs.mt-5, .my-5 {
    margin-top: 3rem !important;
}
}
/* section aubouUS end */
/* ------------------------------------------- */
/* section count star */
.count{
    background: var(--light-bg-color); 
}
.count p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px; 
}
.count .count_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700; 
}
.count .count_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: 0.3s ease;
    border: 1px solid #eee; 
}
@media (min-width: 576px){
.count .mt-sm-5, .my-sm-5 {
    margin-top: 3rem !important;
}
}
/* section count end */
