/* section aubouUS star */
.aboutUs{
    background-color: var(--light-bg-color);
}
.aboutUs .container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
}
.aboutUs .book-info h3 {
    font-size: 36px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700; 
}
.aboutUs .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: var(--text-color);
    line-height: 24.4px; 
}
.aboutUs .count_info p {
    color: var(--text-color);
}
.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px; 
}
.btn-primary {
    color: #fff !important;
    background-color: #dc4f72 !important;
    border-color: #dc4f72 !important; 
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #d62f58 !important;
    border-color: #cf2952 !important; 
}
.img-fluid {
    max-width: 100%;
    height: auto; 
}

img.img-curve {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}
  
img.img-curve:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out ; 
}
  
img.shadow {
    box-shadow: var(--card-hover-box-shadow); 
}
@media (min-width: 768px) {
.aboutUs .pr-md-5, .px-md-5 {
    padding-right: 3rem !important;
}
.aboutUs .mb-md-5, .my-md-5 {
    margin-bottom: 3rem !important;
}
}
@media (max-width: 768px) {
.aboutUs.mt-5, .my-5 {
    margin-top: 3rem !important;
}
}
/* section aubouUS end */
/* ------------------------------------------- */
/* section count star */
.count{
    background: var(--light-bg-color); 
}
.count .container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
}
.count p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px; 
}
.count p.counter-x{
    color: var(--text-color);
}
.count .count_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700; 
}
.count .count_info {
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: 0.3s ease;
    border: 1px solid var(--border-color-light);
}

@media (max-width: 576px){
    .count .mt-sm-5, .my-sm-5 {
        margin-top: 3rem !important;
    }
}
@media (min-width: 992px){
    .count .mt-lg-0 {
        margin-top: 0!important;
    }
}
@media (max-width: 992px){
.count p.counter {
    font-size: 40px;
    line-height: 50px;
}
}
/* section count end */
/* section COMMITMENT star */
.commitment .container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
}
.new-block {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.commitment .middle-section {
    max-width: 550px;
}
.commitment .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.commitment .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}
.commitment .theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.commitment .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.commitment .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5; 
}
@media (min-width: 768px){
.commitment .mb-md-5 {
    margin-bottom: 3rem!important;
}
.commitment .mt-md-4 {
    margin-top: 1.5rem!important;
}
}
@media screen and (max-width: 767px) {
.commitment .theme-button {
    line-height: 44px;
    padding: 0px 20px; } 
}

/* section COMMITMENT end */
/* section questions star */
.questions{
    background-color: var(--light-bg-color);
}
.questions .container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
}
.questions .header-section {
    max-width: 750px;
    margin: 0 auto;
}
.questions .sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.questions .header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.questions .header-section p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}
.questions .faq-image {
    position: sticky;
    top: 80px;
}
.questions .menu-faq ul {
    /* list-style: none; */
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}
.questions .menu-faq ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid var(--border-color);
    margin: 0 0 15px 0;
    border-radius: var(--card-curve);
    background: var(--bg-color);
}
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0; }
.questions .menu-faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0; 
}
.questions .menu-faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}
.questions .menu-faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: var(--title-color);
}
.questions .menu-faq p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}
.questions .menu-faq ul li i:before, .questions .menu-faq ul li i:after {
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
}
.questions .menu-faq ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
.questions .menu-faq ul li i:before {
    transform: translate(2px, 0) rotate(45deg);
    transition: all 0.25s ease-in-out; 
}
.questions .menu-faq ul li i:after {
    transform: translate(-2px, 0) rotate(-45deg);
    transition: all 0.25s ease-in-out; 
}
@media (max-width: 1200px){
.questions .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
}
/* section questions end */