.navbar-mble-dropdown {
  display: none;
  position: absolute;
  top: 60px; /* Điều chỉnh khoảng cách từ nút */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 999;
}

.navbar-mble-dropdown ul {
  list-style: none;
  padding: 0;
}

.navbar-mble-dropdown li {
  margin-bottom: 10px;
}

/* Hiển thị dropdown menu khi nút được bấm */
.navbar-mble.active + .navbar-mble-dropdown {
  display: block;
}